html{
    box-sizing: border-box;
    font-size: 62.5%; /* Reset para REMS -62.5% =10px de 16px*/
}
*,*:before, *::after{
    box-sizing: inherit;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}


 /*utilidades*/
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

img{
    width: 100%;
}
.fw-300{
    font-weight: 400;
}
.text-align{
    text-align: center;
}
.d-block{
    display: block!important;
}
/*botones*/
.boton{
    
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-style: none;
    display: inline-block;
    text-align:center;
    cursor: pointer;
}

.boton-azul{
    background-color: #344bb1;
    color: white;
}

.boton-azul:hover{
    background-color: #21317a;
}

.boton-blanco{
    color: black;
    background-color: antiquewhite;
}


/* header*/
.container__header{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__logo{
    
    display: flex;
    justify-content: center;
    align-items: center;
 
}

/* banner */

.container__banner{
    background-image: url(../assets/Logos/banner-image.png);
    background-position:center; 
    background-size: cover;
    background-repeat: no-repeat;
    height: 352px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

}


.container__banner div{
  width: 90%;
  margin: 0 auto 2rem auto;
}

.container__banner div h1{
    font-size: 28px;
}
.container__banner div h2{
    font-size: 20px;
}

/*productos*/
.container__productos{
    width: 90%;
    margin: 4rem auto;
    
}

.container__starwars__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__starwars__img {
   display: flex;
   justify-content: space-between;
   list-style: none;
   padding: 0;
}
.container__starwars__img li{
    text-align: center;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.5) ;
    
}

.container__starwars__img li h3{
    font-size: 14px;
    margin: 0;
}

.container__starwars__img li h2{
    font-size: 16px;
    color: #464646;
    margin: 0;
}

.container__starwars__img a{
    color: #2A7AE4;
    text-decoration: none;
}
.m-1{
    margin: 0 2rem 0 0;
}

.m-2{
    margin: 0 0 0 2rem;
}

/* contacto */
.container__contacto{
    background-color: #aec0d8;
}

.container__form__sections{
    width: 90%;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
   
    
}

.container__form__sections .about-us{
    display: flex;
    width: 45%;
    justify-content: space-between;
}
.container__form__sections .about-us div{
    margin: 1rem;
}
.form{
    margin: 1rem;
    width: 45%;
    display: flex;
    flex-direction: column;
}
/* mediaquerys*/

@media (max-width:1200px){
    .container__starwars__img li:nth-child(6){
        display: none;
    }
}

@media (max-width:1000px){
    .container__starwars__img li:nth-child(5){
        display: none;
    }
}



@media (max-width: 768px){

    


  
}
